body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000; /* Ensure the sidenav is on top of all content */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0; /* Make the side nav initially transparent */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white; /* Color for the hamburger icon */
    background-color: black; /* Background color for the hamburger icon */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#content {
    padding: 30px;
}